<!DOCTYPE html>
<html ng-app="dStore">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<title> Contact Us </title>
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
<div class="navbar navbar-inverse navbar-static-top">
	<div class="container">	
	<button class="navbar-toggle" data-toggle="collapse" data-target=".navbarHeaderCollapse"> 
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button> 
		<div class="collapse navbar-collapse navbarHeaderCollapse">
		<ul class="nav navbar-nav navbar-right">
		<li><a href="index.html"> Homepage</a></li>
		<li><a href="how_to_work_it.html"> How to work it</a></li>
		<li><a href="contact_us.html"> Contact Us</a></li>
		</ul>
			
		</div>
	</div>
</div>
<div class="container">
	<div class="jumbotron">
<h1> Contact us</h1>
	</div>
</div>
<div class="container">
<form  name="reviewForm" ng-controller="contactController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(contact)" novalidate>
              <blockquote >
                <strong>{{reviewCtrl.review.name}} </strong>
               <br>From: {{reviewCtrl.review.city}}
				<br>Your Comment: {{reviewCtrl.review.comment}}
                <cite class="clearfix"> Your eamil: {{reviewCtrl.review.email}}</cite>
              </blockquote>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" required ng-model='reviewCtrl.review.email'>
 </div>
<div class="form-group">
<label>Full Name:</label>
<input class="form-control" type="text" required ng-model='reviewCtrl.review.name'>
 </div>
<div class="form-group">
<label>city:</label>
<input class="form-control"  type="text" required ng-model='reviewCtrl.review.city'>
 </div>
<div class="form-group">
<label>Comment:</label>
<textarea class="form-control"rows="4" cols="50" 
maxlength="200" id="comment" placeholder="what do you think" 
required ng-model='reviewCtrl.review.comment' ></textarea>
  </div>
<input class="btn btn-primary" type="button" value="Submit">
<p><span id='display'></span> </p>
</form>
  </div>
</body>
</html>